#rooms {
    width: 400px;
    height: 450px;
    float: left;
}

#address {
    float: left;
    width: 540px;
    height: 450px;
}
#price {
    margin-top: 30px;
    width: 940px;
    height: 450px;
    float: left;
}