* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}


header {
    width: 100vw;
    height: 60px;
    /*background-color: #4a5158;*/
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    height: 55px;
    line-height: 55px;
    width: 800px;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: 55px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    animation: floatin 2.4s linear infinite;
}

@keyframes floatin {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-6px)
    }

    100% {
        transform: translateY(0)
    }
}

nav li, a {
    list-style: none;
    text-decoration: none;
    color: #cccccc;
    display: list-item;
    float: right;
    font-size: 14px;
    padding-left: 3px;
}

nav a:hover {
    color: white;
}

nav img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    padding-left: 15px;
}



.title {
    padding-top: 200px;
    width: 550px;
    margin: 0 auto;
}

.title p:nth-child(1) {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.title p:nth-child(2) {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.search_by {
    width: 80px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    color: black;
    height: 25px;
    border-radius: 3px;
    background-color: #ced4da;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

.search_active {
    background-color: #5bc0de;
}

#search_content {
    width: 88%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 10px;
    outline: none;
    font-size: 14px;
}

.search_submit {
    width: 10%;
    height: 30px;
    font-size: 12px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#search_result {
    padding-top: 5px;
    list-style: none;
}

#search_result li {
    padding-left: 15px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    width: 85%;
    height: 30px;
    background-color: #fff;
    color: #4a5158;
    font-size: 13px;
    cursor: pointer;
}

.val {
    font-weight: bold;
    float: right;
    padding-right: 10px;
}

#search_result li:nth-child(1) {
    border-radius: 3px 3px 0 0;
}

#search_result li:last-child {
    border-radius: 0 0 3px 3px;
}

#search_result li:hover {
    background-color: #5bc0de;
    color: black;
}