.content {
    width: 1200px;
    /*height: 100px;*/
    margin: 80px auto 0;

}

.left {
    float: left;
    background: white;
    border-radius: 5px;
    opacity: .9;
    width: 300px;
}

.content > .right {
    float: left;
    background: white;
    margin-left: 10px;
    width: 870px;
    border-radius: 5px;
}


.general_info {
    /*height: 180px;*/
}

.general_info_avatar {
    height: 100%;
    float: right;;
}

@keyframes img_rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-0deg);
    }
}

.general_info_avatar img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
}

.general_info_avatar img:hover {
    animation: img_rotate 3s infinite linear;
}


.general_info_info {
    /*float: left;*/
    height: 100%;
    padding: 30px 0 10px 25px;
    /*width: 450px;*/
}

.general_info_info p:first-child {
    color: #222226;
    font-size: 30px;
    font-weight: 500;
}

.module_title {
    font-weight: bold !important;
    font-size: 18px !important;
    color: white !important;
    margin-top: 30px;
    margin-bottom: 20px;
    /*margin-left: 30px;*/
    background: #414140;
    /*width: 150px;*/
    display: table;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 5px 0 0 !important;
    border-radius: 5px;
}

.module_title img {
    width: 30px;
    height: 30px;
    vertical-align: top;
    padding-right: 3px;
    padding-left: 3px;
}

.row {
    display: -webkit-box;
    height: 30px;
    line-height: 30px;
    width: 250px;
    margin-bottom: 10px;
}

.col {
    background: #ecf0f1;
    width: 220px;
    padding-left: 10px;
    box-shadow: 1px 1px 5px #ccc;
}

.col input {
    width: 175px;
    height: 28px;
    border: none;
    background: none;
    font-size: 14px;
    outline: none;
}


.edit_btn, .submit_btn {
    float: right;
    height: 30px;
    width: 60px;
    font-size: 13px;
    line-height: 30px;
    background: #17a2b8;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 5px #4a5158;
    transition: .2s;
    cursor: pointer;
}

.edit_btn:hover, .submit_btn:hover {
    box-shadow: 1px 1px 8px #4a5158;
}

.edit_btn i, .submit_btn i {
    font-style: normal;
}

.edit_btn img, .submit_btn img {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    padding-right: 3px;
}


.stars {
    padding: 0 30px 30px;
}

.stars .module_title {
    margin-top: 20px;
    margin-bottom: 0 !important;
}


.stars_list li {
    height: 200px;
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}


.img_view {
    width: 300px;
    height: 200px;
    float: left;
}

ul li .right {
    float: left;
    width: 480px;
    margin-left: 20px;
}

.title {
    display: block;
    font-size: 20px;
    color: #4a5158;
    font-weight: bold;
    width: 380px;
    /*超出内容隐藏*/
    overflow: hidden;
    /*溢出内容用省略号显示*/
    text-overflow: ellipsis;
    /*溢出不换行*/
    white-space: nowrap;
}

.title:hover {
    transition: .2s;
    color: #1a94ca;
}

.price {
    /*float: right;*/
    color: red;
    font-size: 16px;
}

ul li .right p:nth-child(2) {
    margin-top: 10px;
}

/*从第二个p标签开始向后*/
ul li .right p:nth-child(n+2) {
    font-size: 14px;
    line-height: 30px;
    color: #716e6d;
}

.address, .rooms, .direction, .traffic {
    margin-left: 15px;
    color: black;
    font-size: 15px;
}

.like {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
}

ul li .right p:last-child {
    color: #716e6d;
}

.tip {
    color: black;
    font-size: 16px;
    margin-top: 10px;
}


.views {
    background: white;
    width: 280px;
    border-radius: 5px;
}

.views_content {
    padding: 15px;
}

.views_content .module_title {
    margin-top: 5px;
    margin-bottom: 0;
}

.views_list p {
    width: 250px;
    margin: 10px 0;
}

.views_list p .title {
    width: 200px;
}

.views_list p span a {
    font-size: 14px;
    font-weight: 500;
    color: #151816;
    text-decoration: none;
}
.views_list p span a:hover {
    color: #1a94ca;
}

.views_list p .price {
    width: 45px;
    color: #ccc;
    font-size: 13px;
    line-height: 25px;
}

.views_list p {
  display: flex;
  flex-wrap: wrap;
}
.views_list p span {
  display: inline-block;
}
.views_list .title {
  flex-grow: 1;
}