<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/charts.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script>
        var current_user = ""
        // 判断当前是否用户登录
        function checkLoginStatus() {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.startsWith("user=")) {
                    current_user = cookie.substring().match(/=(.*?)=/)[1];
                    return current_user
                }
            }
            return null;
        }
        checkLoginStatus()

    </script>
    {% block headfile %}
    {% endblock %}
</head>
<body>

{% block header %}
    <header>
        <div class="header">
            <div class="logo"><a href="{{ url_for('index_page.index') }}">二手好房</a></div>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('user_page.user_home') }}"><img
                                src="{{ url_for("static", filename="images/个人.png") }}" alt=""> 个人主页</a>
                    </li>
                    {#                    <li><img src="../static/images/房源.png" alt=""><a href="search_list.html">最新房源</a></li>#}
                    <li>
                        <a href="{{ url_for('index_page.index') }}"><img
                                src="{{ url_for('static', filename='images/首页.png') }}" alt=""> 首页</a>
                    </li>
                    <li>
                        <a href="{{ url_for('list_page.return_new_list') }}"><img
                                src="{{ url_for('static', filename='images/最新.png') }}" alt=""> 最新房源</a>
                    </li>
                    <li>
                        <a href="{{ url_for('list_page.return_hot_list') }}"><img
                                src="{{ url_for('static', filename='images/最热.png') }}" alt=""> 最热房源</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}
{% block content %}

{% endblock %}
</body>
{% block js %}
{% endblock %}
</html>