{% extends "header.html" %}
{% block title %}
    首页
{% endblock %}
{% block headfile %}
    <link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
{% block content %}
    <div class="bg"></div>
    <div class="title">
        <p>二手好房</p>
        <p>给您推荐优质房源</p>
        <div class="search">
            <ul class="nav_tab">
                <li class="search_by search_active" id="search_by_address">地区搜索</li>
                <li class="search_by" id="search_by_rooms">户型搜索</li>
            </ul>
            <form action="/query">
                <input type="search" id="search_content" name="addr" placeholder="请输入区域、商圈或小区名开始找房">
                <input type="submit" value="提交" class="search_submit">
                <div id="search_result"></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="../static/js/style.js"></script>
{% endblock %}