{% extends "header.html" %}
{% block title %}
    最新房源
{% endblock %}
{% block headfile %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
{% endblock %}
{% block content %}
    <div class="house_list">
        <ul>
            {% for elem in pagination.items %}
                <li>
                    <a href="{{ url_for('detail_page.detail', hid=elem.id) }}" style="text-decoration: none"><img
                            class="img_view" src="{{ url_for('static', filename='images/house-bg1.jpg') }}" alt=""></a>
                    <div class="right">
                        <p><a href="{{ url_for('detail_page.detail', hid=elem.id) }}"
                              style="text-decoration: none"><span class="title">{{ elem.title }}</span><span
                                class="price">￥{{ elem.price | deal_none }}</span></a></p>
                        <p>房源地址：<span class="address">{{ elem.address | deal_none }}</span></p>
                        <p>房源户型：<span class="rooms">{{ elem.rooms | deal_none }}</span></p>
                        <p>房源朝向：<span class="direction">{{ elem.direction | deal_none }}</span></p>
                        <p>交通条件：<span class="traffic">{{ elem.traffic | deal_none }}</span></p>
                        <p><img class="like" src="{{ url_for('static', filename='images/like.png') }}"
                                alt="">{{ elem.page_views }}人浏览过</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% block pagination %}
            <div class="pagination">
                {% if pagination.has_prev %}
                    <span>
                        <a class='page-number'
                           href="{{ url_for('list_page.return_new_list',page = pagination.prev_num) }}">
                            {{ '上一页' }}
                        </a>
                </span>
                {% endif %}

                {% for number in pagination.iter_pages() %}
                    {% if number %}
                        {% if pagination.page != number %}
                            <span>
                        <a class='page-number'
                           href="{{ url_for('list_page.return_new_list',page = number) }}">
                        {{ number }}
                        </a>
                            </span>
                        {% else %}
                            <a href="" class="current-page-number"
                               style="background: #17a2b8; color: white; font-weight: bold">{{ number }}</a>
                        {% endif %}
                    {% else %}
                        <span style="margin: 0 10px">...</span>
                    {% endif %}
                {% endfor %}

                {% if pagination.has_next %}
                    <span>
                <a class='page-number'
                   href="{{ url_for('list_page.return_new_list',page = pagination.next_num) }}">
                    {{ '下一页' }}
                </a>
            </span>
                {% endif %}
            </div>
        {% endblock %}
    </div>

{% endblock %}